{% extends "base.html" %}

{% block content %}
  <h1>ToDo List</h1>
  <a href="{% url 'todo:task-create' %}">Add Task</a>

  <table>

    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.content }}</td>
          <td>{% if task.status %}Done {% else %}Not done{% endif %}</td>
          <td>{{ task.datetime }}</td>
          <td>
            {% for task in task.tags.all %}
              {{ tag.name }}&nbsp;
            {% endfor %}
          </td>
          <td>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
