{% extends "base.html" %}

{% block content %}
  <h1>Tags</h1>
  <a href="{% url 'todo:tag-create' %}">Add Tag</a>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tags %}
        <tr>
          <td>{{ tag.name }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>
            <form action="{% url 'todo:tag-update' tag.id %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit">Update</button>
            </form>
          </td>
          <td>
            <form action="{% url 'todo:tag-delete' tag.id %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
